:root {
	--color-white: #fff;
	--main-green: #028760;
	--main-light-green: #01996d;
	--main-dark-green: #245852;
	--main-black: #000000;
	--text-color: #484848;
	--main-opacity: 0.3;
}

/* media breakpoints: 992px, 768px, 576px, 480px */
